{
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
      "prettier/prettier": ["error"],
      "@typescript-eslint/no-deprecated": "error"
    }
}
